<div class="row">
  <article class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <!-- http://lorempixel.com/400/200/ -->
        <img class="activator" src="http://materializecss.com/images/office.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{app}}<i class="material-icons right">more_vert</i></span>
        <p><a href="javascript:void(0)" ng-click="submit()">{{app}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{message}}<i class="material-icons right">close</i></span>
        <p>
          <input ng-model="message" placeholder="Mensaje">
        </p>
      </div>
    </div>
  </article>
  <article class="col s8">

    <div class="progress" ng-show="preload">
        <div class="indeterminate"></div>
    </div>

    <small>{{main.appName}}</small>

    <section ng-cloack>
      <div ng-repeat="post in posts | limitTo:5">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img ng-src="http://placehold.it/200x200" class="circle responsive-img">
              </div>
              <div class="col s10">
                <span class="black-text">
                 {{post.title}}
                </span>
              </div>
            </div>
          </div>
      </div>
    </section>

  </article>
</div>